//Основные элементы на сайте
//Основной блок на сайте. Всегда на 100% ширины. С помощью модификаторов
//добавляю фоновое изображение или фоновый цвет.
.container {
	display: flex;
	justify-content: center;
	width: 100%;
	//border: 1px solid red;
}

//Блок в котором размещается контент. На широких мониторах поля.
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	//border: 1px solid blue;
}

.header-h1 {
	font-family: 'OpenSans-Bold';
	color: #48555B;
	font-size: 18px;
}

.header-img {
	margin-top: 10px;
}

.prg {
	font-family: 'OpenSans';
	color: #48555B;
	font-size: 0.68rem;
	line-height: 1.2rem;
	letter-spacing: 0.01rem;
}


@media (min-width: 0px) and (max-width: 360px)  {
	html {
		font-size: 10px;
	  }
	.main-content {
		width: 95%;
	}
}

@media (min-width: 360px) and (max-width: 600px)  {
	html {
		font-size: 10px;
	  }

	  .main-content {
		width: 95%;
	}
}

@media (min-width: 601px) and (max-width: 1280px)  {
	html {
		font-size: 16px;
	  }

	.main-content {
		width: 90%;
	}
}

@media (min-width: 1281px)  {
	html {
		font-size: 16px;
	  }

	.main-content {
		width: 65%;
	}
}

//закончился блок main-content
//Header
//Изменяемые блоки
//начался блок header
.container__header {
	//height: 48rem;
	background-image: url(image/bg_header.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.header__h1 {
	font-size: 3.75rem;
	font-family: 'BebasNeueBold';
	color: #FFFFFF;
}

.header__p, .item_scroll {
	font-family: 'OpenSans';
	color: #FFFFFF;
	font-weight: 600;
}

.header__p {
	font-size: 1rem;
}

.item_scroll {
	font-size: 0.685rem;
}



@media (min-width: 0px) and (max-width: 360px)  {

}

@media (min-width: 0px) and (max-width: 600px)  {
	.container__header {
		background-size: auto contain;
		background-position: center;
	}

	.header-logo {
		margin-top: 2rem;
		margin-bottom: 16rem;
	}

	.header__h1 {
		margin-bottom: 0;
	}

	.header__p {
		margin-top: 0px;
		margin-bottom: 16rem;
	}
}

@media (min-width: 601px) and (max-width: 1280px)  {

	.container__header {
		background-size: auto contain;
		background-position: center;
	}

	.header-logo {
		margin-top: 2rem;
		margin-bottom: 14rem;
	}

	.header__h1 {
		margin-bottom: 0;
	}

	.header__p {
		margin-top: 0px;
		margin-bottom: 12rem;
	}
}

@media (min-width: 1281px)  {
	.container__header {
		background-size: cover;
	}

	.header-logo {
		margin-top: 2.6rem;
		margin-bottom: 17rem;
	}

	.header__h1 {
		margin-bottom: 0;
	}


	.header__p {
		margin-top: 0px;
		margin-bottom: 15rem;
	}
}

//menu
.container__menu {
	border: 1px solid #E6E6E6;
}

.main-content__menu {
	display: flex;
	flex-direction: row;
	justify-content : space-between;
}

.item-menu-container {
	display: flex;
	flex-direction: row;
}

.item-menu {
	font-family: 'OpenSans';
	color: #48555B;
	font-weight: 900;
	font-size: 12px;
	margin-left: 2.625rem;
}

.item-menu_active {
	font-family: 'OpenSans-Bold';
	color: #00A4E5;
}

@media (min-width: 0px) and (max-width: 600px)  {
	.menu-logo {
		display: none;
	}

	.item-menu-container {
		display: flex;
		flex-direction: column;
		justify-content : space-between;
	}
}

@media (min-width: 360px) and (max-width: 600px)  {
	.menu-logo {
		display: none;
	}
}

@media (min-width: 600px)  {
	.main-content__menu {
		height: 4.06rem;
	}
}

//Our Story
.our-story__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.header-h1_our-story {
	margin-top: 57px;
	margin-bottom: 10px;
}

.our-story__header-img {
	margin-bottom: 10px;
}

.our-story__content {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.our-story__desc {
	width: 50%;
}

.our-story__banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	width: 50%;
}

.our-story__block {
	width: 30%;
	margin-top: 60px;
}

.our-story__block_1, .our-story__block_2, .our-story__block_3 {
	background-repeat: no-repeat;
	background-size: cover;
}

.our-story__block_1 {
	background-image: url('image/we-plan.png');
}

.our-story__block_2 {
	background-image: url('image/we-manage.png');
}

.our-story__block_3 {
	background-image: url('image/we-build.png');
}

.our-story__banner-item {
	font-family: 'OpenSans-ExtraBold';
	color: #FFFFFF;
	font-size: 1.5rem;
	margin-left: 0.625rem;
	margin-top: 0.625rem;
}

.our-story__desc-bold {
	font-family: 'OpenSans-Bold';
	color: #48555B;
	font-size: 1.25rem;
	width: 26rem;
	line-height: 1.875rem;
	letter-spacing: 0.031rem;
}

.our-story__desc-bold_blue {
	color: #16ACE8;
}

.our-story__desc-think {
	font-family: 'OpenSans';
	color: #48555B;
	font-size: 0.8125rem;
	width: 26rem;
	line-height: 1.56rem;
	letter-spacing: 0.01rem;
}

@media (max-width: 1200px)  {
	.our-story__content {
		display: flex;
		flex-direction: column;
	}

	.our-story__desc {
		width: 100%;
	}

	.our-story__desc-bold, .our-story__desc-think {
		width: 100%;
	}

	.our-story__banner {
		width: 100%;
		height: 25rem;
	}
}

//Capibilities
.container__capibilities {
	//border: 1px solid red;
	margin-top: 7.4rem;
}

.capibilities__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.capibilities__header-cont {
	display: flex;
	flex-direction: column;
}

.capibilities__cont-1 {
	width: 36%;
}

.capibilities__cont-2 {
	width: 46%;
}

.prg-capibilities {
	width: 90%;
	margin-top: 0;
}

.capibilities__cont-3 {
	width: 18%;
}

.button__all-services {
	width: 100%;
	height: 40px;
	border: none;
	background-color: #00A4E5;
	color: #FFFFFF;
	font-family: 'OpenSans-Bold';
}

.header-h1_capibilities {
	margin-top: 0;
	margin-bottom: 0;
}

@media (max-width: 1200px)  {
	.capibilities__header {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.capibilities__cont-1, .capibilities__cont-2, .capibilities__cont-3 {
		width: 100%;
	}
}

//Benefits
.main-content__benefits {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 7.25rem;
}

.benefits__div {
	border: 1px solid #E6E6E6;
	padding: 20px;
	width: 26%;
	height: 90%;
}

.benefits-h2 {
	font-family: 'OpenSans-Bold';
	color: #48555B;
	font-size: 1rem;
	width: 87%;
}

.prg-benefits {
	width: 75%;
}

@media (max-width: 900px)  {
	.main-content__benefits {
		display: flex;
		flex-direction: column;
	}

	.benefits__div {
		width: 100%;
	}

	.benefits-h2 {
		width: 100%;
	}
	
	.prg-benefits {
		width: 100%;
	}
}

//Want
.container__want {
	height: 500px;
	background-image: url(image/get-in-touch.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.main-content__want {
	margin-top: 140px;
}

.want__h1 {
	font-family: 'OpenSans-Bold';
	color: #48555B;
	font-size: 1.875rem;
	width: 350px;
	text-align: center;
}












